<body style="background-color: rgb(201, 201, 201);">

<h1 class="page_edit">Página de Edição</h1>

<div class="some-products">

    <div class="products_home" style="background-color: white;">

        {{#each products}}

            <div class="product_iten" style="background-color: rgb(252, 252, 252);">
                <h4>{{name}}</h4>
                R$: {{price}}
                <br>
                <a href="/admin/edit/{{_id}}"><button class="button_products">Editar</button></a>
                <a href="/admin/edit/delet/{{_id}}"><button class="button_products" style="background-color: red;">Excluir</button></a>
                <input type="hidden" value="{{_id}}" name="id">
            </div>

            <br>

        {{/each}}

    </div>

</div>

<br>
<br>
<br>    

<a class="btn-regist" href="/admin/" style="color: black;">Voltar</a>

</body>